/**** variables ****/
:root {
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #47034E;
  --color-4: #5D0565;
  --color-5: #7E3285;
  --color-6: #9F5EA5;
  --color-7: #E0B6E4;
  --color-8: #fff1ff;
  --color-10: #052c43;
  --color-11: #bfbfbf;

  --color-20: #FFD300;
  --color-21: #FFDC26;
  --color-22: #FFE54C;
  --color-23: #FFED73;
  --color-24: #FFF699;
  --color-25: #FFFFBF;


  --error-color: #ff0018;
  --success-color: #00ff18;

  --ff-main: Figtree, Raleway, Arial, Sans-serif;
  --ff-header: BerkshireSwash;

  --bs-navbar-toggler-focus-width: #fe5803 !important;
}

/**** typography and spacing ****/
@font-face {
  font-family: Figtree;
  src: url('../fonts/Figtree-VariableFont_wght.ttf');
}

@font-face {
  font-family: BerkshireSwash;
  src: url('../fonts/BerkshireSwash-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
}

body {
  font-family: var(--ff-main);
  line-height: 1.8;
  background-color: var(--color-11);
  margin: auto;
  color: var(--color-10);
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
}

.font-italic {
  font-style: italic;
}

.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.p-6 {
  padding: 6rem !important;
}

.py-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.p-7 {
  padding: 7rem !important;
}

@media (min-width: 270px) {
  .m-spec {
    margin-left: 75% !important;
  }
}

@media (max-width: 270px) {
  .m-spec {
    margin: auto !important;
  }
}

/**** header ****/

.banner>h1 {
  letter-spacing: 4px;
}

.header-font {
  font-family: var(--ff-header);
}

@media (min-width: 1200px) {

  .h1,
  h1 {
    font-size: 4rem;
  }
}

/**** footer ****/

#footer-image {
  background-color: var(--color-7);
  color: var(--color-10);
  height: 100px;

}

#footer-image>p,
.fs-9 {
  font-size: 9px;
}

.bg-one {
  background-color: var(--color-8);
}

.card-title-footer h2,
.card-title-footer .h2 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.li-inline {
  display: inline;
  text-decoration: none;
}

.ul-lst {
  list-style-type: none;
}


.block-8 .blog-img {
  display: block;
  height: 80px;
  width: 80px;
}

.rounded {
  border-radius: 0.25rem !important;
}

.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text>div {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  width: calc(100% - 50px);
  padding-left: 20px;
}

.text ul li {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
  font-size: 15px;
}


/**** home ****/


/**** navbar 

.navbar-nav .nav-link {
  color: var(--color-2);
  letter-spacing: 2px;
  padding: 10px 25px !important;
}

@media (min-width: 992px) {
  .navbar-nav .nav-item {
    border-right: solid 3px var(--color-8);
  }
}

nav {
  background-color: var(--color-6) !important;
}

.nav-link.active {
  font-weight: 700;
  color: var(--color-1);
  background-color: var(--color-3);
}

.navbar-toggler {
  background-color: var(--color-6);
  border: solid 3px var(--color-7);
}

.navbar-nav>li>a:hover,
.navbar-nav>li>button:hover,
.navbar-nav>li>div>a:hover,
.log-input:hover,
.navbar-toggler:hover {
  background-color: var(--color-4);
  color: var(--color-1);
}

.navbar-toggler:focus{
  box-shadow: 0 0 5px 0.25rem var(--color-5) !important;
}

****/

/**** hero banner 

.bg-body-tertiary {
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow-wrap {
  box-shadow: 0 0 8px 2px var(--color-8);
}

.hero-text-border {
  border: solid 1px var(--color-4);
}

.btn-primary {
  --bs-btn-bg: #0000ff;
  --bs-btn-hover-bg: #22aaff;
}

.hero-text-border {
  border: solid 1px var(--color-4);
}

.btn-primary {
  --bs-btn-bg: #0000ff;
  --bs-btn-hover-bg: #22aaff;
}

****/