/**** variables ****/
:root {
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #eee9c0;
  --color-4: #e3d896;
  --color-5: #e6b576;
  --color-6: #d7c869;
  --color-7: #db973f;
  --color-8: #8b8b8b;

  --error-color: #ff0019;
  --success-color: #0ece3b;

  --ff-main: Figtree, Raleway, Arial, Sans-serif;
  --ff-header: BerkshireSwash;
}

/**** typography and spacing ****/
@font-face {
  font-family: Figtree;
  src: url('../fonts/Figtree-VariableFont_wght.ttf');
  src: url('../fonts/Figtree-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: BerkshireSwash;
  src: url('../fonts/BerkshireSwash-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
  src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf');
}

body {
  font-family: var(--ff-main);
  line-height: 1.5;
  background-color: var(--color-7);
  margin: auto;
  color: var(--color-2);
  font-size: 1em;
}

.font-italic {
  font-style: italic;
}

.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.container.shadow-wrap {
  background-color: var(--color-7);
}

/**** header ****/
.banner {
  text-align: center;
  padding: 1rem;
}

.banner>h1 {
  font-size: 25px;
  letter-spacing: 4px;
}

.header-font{
  font-family: var(--ff-header);
}

/**** footer ****/
footer {
  border-top: 1px solid var(--color-3);
  padding: 1.5rem 0;
  background-color: var(--color-2);
}

hr {
  border-top: medium double var(--color-4);
}

/**** copyright ****/

#footer-image {
  background-image: url("../images/big-sur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-4);
  height: 150px;
  border-top: inset 2px var(--color-6);
}

#footer-image>p {
  font-size: 10px;
  padding-top: 1rem;
}

/**** navbar ****/

.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
  color: var(--color-7);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 25px !important;
  font-size: 14px;
}

.navbar-nav .nav-item {
  border-right: none;
}

.nav-link.nav-link-size {
  color: var(--color-6);
}

nav {
  background-color: var(--color-2) !important;
  box-shadow: 0 0 8px 2px var(--color-8);
}

@media (min-width: 992px) {
  .navbar-nav .nav-item {
    border-right: solid 1px var(--color-6);
  }

  .dropdown-menu {
    display: block;
  }
}

.navbar {
  padding: 0;
}

.nav-link.active,
.dropdown-item.active {
  font-weight: 600;
  color: var(--color-5);
  background-color: var(--color-2);
}

.navbar-toggler {
  background-color: var(--color-1);
  border: inset 1px var(--color-5);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  opacity: 1;
}

.dropdown-menu {
  opacity: 0;
  transition: all 0.6s;
  border-radius: 0;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>button:hover,
.navbar-nav>li>div>a:hover,
.log-input:hover {
  background-color: var(--color-7);
  color: var(--color-2);
}

/**** hero banner ****/

.bg-body-tertiary {
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow-wrap {
  box-shadow: 0 0 8px 2px var(--color-8);
}

.hero-text-border {
  border: solid 1px var(--color-4);
}

.btn-primary {
  --bs-btn-bg: #0000ff;
  --bs-btn-hover-bg: #22aaff;
}

.shadow-wrap {
  box-shadow: 0 0 8px 2px var(--color-8);
}

.hero-text-border {
  border: solid 1px var(--color-4);
}

.btn-primary {
  --bs-btn-bg: #0000ff;
  --bs-btn-hover-bg: #22aaff;
}